@tailwind base;
@tailwind components;
@tailwind utilities;

/* login button -> login page */ 
.login-button {
 --color: #00a94c;
 padding: 0.4em 1em;
 background-color: transparent;
 border-radius: .3em;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 transition: .5s;
 font-weight: 500;
 font-size: 17px;
 border: 1px solid;
 font-family: inherit;
 text-transform: uppercase;
 color: var(--color);
 z-index: 1;
}

.login-button::before, .login-button::after {
 content: '';
 display: block;
 width: 50px;
 height: 50px;
 transform: translate(-50%, -50%);
 position: absolute;
 border-radius: 50%;
 z-index: -1;
 background-color: var(--color);
 transition: 1s ease;
}

.login-button::before {
 top: -1em;
 left: -1em;
}

.login-button::after {
 left: calc(100% + 1em);
 top: calc(100% + 1em);
}

.login-button:hover::before, .login-button:hover::after {
 height: 410px;
 width: 410px;
}

.login-button:hover {
 color: rgb(255, 255, 255);
}

.login-button:active {
 filter: brightness(.8);
}