@tailwind base;
@tailwind components;
@tailwind utilities;

/* black gradient */
/* body {
  background-image: linear-gradient(to right top, #000000, #0c0b0b, #141314, #1b191a, #211f21, #2d2b2d, #3a383a, #474548, #5e5d5f, #777678, #909091, #ababab);
} */

/* body {
  background-image: linear-gradient(to right, #0e1218, #11151b, #191e25, #252b33, #3d4653, #434d5a, #495362, #4f5a69, #525e6d, #626e80, #6b798d, #6b798b);
} */

/* body {
  background-image: linear-gradient(to right top, #9f6d1f, #aa7729, #b48032, #bf8a3c, #ca9445, #d29d4d, #dba556, #e3ae5e, #eab868, #f1c272, #f8cd7c, #ffd786);
} */

/* body {
  background-image: linear-gradient(to right top, #9d76db, #9a88e3, #9a99e9, #9ea9ec, #a6b8ed, #a8c3ef, #afcef1, #b9d8f1, #bfe2f3, #c9ebf4, #d6f3f6, #e4fbf9);
} */

body {
  background-image: linear-gradient(to right, #151c26, #1f2631, #28303c, #333b47, #3d4653, #434d5a, #495362, #4f5a69, #525e6d, #566171, #596576, #5d697a);
}


/* login button -> login page */ 
.login-button {
 --color: #00a94c;
 padding: 0.4em 1em;
 background-color: transparent;
 border-radius: .3em;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 transition: .5s;
 font-weight: 500;
 font-size: 17px;
 border: 1px solid;
 font-family: inherit;
 text-transform: uppercase;
 color: var(--color);
 z-index: 1;
}

.login-button::before, .login-button::after {
 content: '';
 display: block;
 width: 50px;
 height: 50px;
 transform: translate(-50%, -50%);
 position: absolute;
 border-radius: 50%;
 z-index: -1;
 background-color: var(--color);
 transition: 1s ease;
}

.login-button::before {
 top: -1em;
 left: -1em;
}

.login-button::after {
 left: calc(100% + 1em);
 top: calc(100% + 1em);
}

.login-button:hover::before, .login-button:hover::after {
 height: 410px;
 width: 410px;
}

.login-button:hover {
 color: rgb(255, 255, 255);
}

.login-button:active {
 filter: brightness(.8);
}

/* logout button -> mainpage */
/* From Uiverse.io by vinodjangid07 */ 
.logout-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  /* border: none; */
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

.logout-logo {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-weight: 600;
  transition-duration: .3s;
}

.logout-button:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.logout-button:hover .logout-logo {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.logout-button:hover .logout-text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.logout-button:active {
  transform: translate(2px ,2px);
}

/* bracket style border for cards */
.square-btn {
  position: relative;
  border: none;
  /* background: none; */
}

.square-btn::before,
.square-btn::after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px;
  border: 1.5px solid #374151;
  content: "";
}

.square-btn::before {
  left: 0;
  border-right-width: 0;
}

.square-btn::after {
  right: 0;
  border-left-width: 0;
}

.chart-container .x-axis line,
.chart-container .y-axis line {
  stroke: #FF5733; /* Customize axis line color */
}

.chart-container .x-axis .tick text,
.chart-container .y-axis .tick text {
  fill: #C70039; /* Customize tick label color */
}

.chart-container .line-series {
  stroke: #26a69a; /* Customize line color */
}

/* line chart styles */
.apexcharts-toolbar .apexcharts-menu {
  background-color: #000000 !important; 
  width: 120px;
}

.apexcharts-toolbar .apexcharts-menu .apexcharts-menu-item {
  color: white !important;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.apexcharts-toolbar .apexcharts-menu .apexcharts-menu-item:hover {
  background-color: #333333 !important; 
}

.apexcharts-tooltip .apexcharts-tooltip-text {
  font-size: 10px !important; 
}

/* card blink */
@keyframes blink {
   0%
    {
        /* color: red;
        border-color: red; */
        background-color: red;
        color: white;
    }
    50%
    {
        /* color: gray;
        border-color: gray; */
        background-color: gray;
        color: white;
    }
    100%
    {
        /* color: red;
        border-color: red; */
        background-color: red;
        color: white;
    }
}

.card-indicator {
  animation: blink 1s infinite; 
}

